/* COMMON */

* {
    font-family: sans-serif;
}


/* RESPONSIVE TITLE */

@media (min-width: 576px) {
    div.title {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    div.title {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    div.title {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    div.title {
        font-size: 2rem;
    }
}


/* CONTAINER CONTENT */

.container-fluid {
    display: flex;
    justify-content: center;
}

.jumbotron {
    color: #343a40;
}

fieldset {
    border: 5px solid #343a40;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
}

fieldset legend {
    background: #343a40;
    color: #fff;
    padding: 5px 10px;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}

.reset-this {
    all: initial;
}

.redo-fieldset {
    border: 1px solid black;
    padding: 10px;
}

.redo-legend {
    color: black;
}


/* BUTTON */

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
    width: 150px;
    background-color: #343a40 !important;
}

.btn-primary:hover {
    background-color: black !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}